# ==========================
# Angular
# ==========================
node_modules/
dist/
.angular/
coverage/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
.venv/
venv/

# ==========================
# Environment Files
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db